.double-img-text-10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  background-color: #e1eae3;
  flex-wrap: wrap;
  @include responsive($xs) {
    padding: 0 0 50px 0
  }
  @include responsive($med) {
    padding: 80px 50px;
  }
  @include responsive($lg) {
    padding: 180px 0 180px 50px;
  }
  &__images {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    img {
      width: 100%;
      height: 100%;
    }
    @include responsive($xs) {
      flex-wrap: wrap;
    }
    @include responsive($med) {
      flex-wrap: nowrap;
      flex: 1;
    }
    &__one {
      @include responsive($xs) {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
      }
      @include responsive($med) {
        margin-bottom: 0;
        margin-right: 10px;
        margin-left: 10px;
      }
      width: 100%;
      
    }
  }

  &--reversed {
    flex-direction: row-reverse;
  }

  &__cols {
    flex: 1;
    @include responsive($xs) {
      margin-top: 60px;
      margin-right: 20px;
      margin-left: 20px;
    }
    @include responsive($med) {
      margin-right: 70px;
      margin-left: 50px;
    }
    @include responsive($lg) {
      margin-top: 0;
      margin-right: 120px;
      margin-left: 110px;
    }
    

    &__heading {
      color: #839b88;
      margin-bottom: 30px;
	  }

    &__preamble {
      color: #000000;
      font-size: 24px;
      letter-spacing: -0.5px;
      line-height: 30px;
      margin-bottom: 15px;
	  }

    &__paragraph {
      color: #000000;
      font-size: 18px;
      line-height: 26px;
    }
  }
}
