.staff-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  background-color: #44624a;
  
  @include responsive($xs) {
    justify-content: space-around;
    padding: 0 0 50px 0;
  }
  @include responsive($med) {
      padding: 80px 70px;
  }
  @include responsive($lg) {
      justify-content: flex-start;
      padding: 180px 130px 130px 130px;
  }
  &__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-right: 20px;
    padding-left: 20px;
    @include responsive($xs) {
      margin-top: 50px;
    }
    @include responsive($lg) {
      margin-top: 0;
    }
  }

  &__member {
    @include responsive($xs) {
      width: 100%;
    }
    @include responsive($med) {
        padding-right: 20px;
	      padding-left: 20px;
    }
    @include responsive($lg) {
        width: 325px;
    }
    
    margin-bottom: 60px;
    
    img {
      width: 100%;
    }
    &__name {
      @include responsive($xs) {
        padding-right: 20px;
	      padding-left: 20px;
      }
      @include responsive($med) {
          padding: 0;
      }
	  }

    &__position {
      @include responsive($xs) {
        padding-right: 20px;
	      padding-left: 20px;
      }
      @include responsive($med) {
          padding: 0;
      }
      color: #839b88;
      font-size: 14px;
      letter-spacing: 0.4px;
      line-height: 20px;
    }
  }
}
