{% extends "base.html" %}
{% load static %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags product_tags %}
{% load wagtailcore_tags service_tags %}
{% load wagtailcore_tags member_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}
<div class="{{self.theme}}" id='theme'>
{% with blocks=self.body %}
	
    {% for block in blocks %}
        {% if block.block_type == 'Staff_6' %}
            <div class="staff-6">
              <div class="staff-6__member">
                <h3 class="staff-6__title">{{block}}</h3>
              </div>
              {% members %}
            </div>
        {% elif block.block_type == 'Featured_5' %}
            {% products %}
        {% elif block.block_type == 'Services_11' %}
            {% services %}
        {% else %}
            {{ block }}
        {% endif %}
    {% endfor %}

{% endwith %}
</div>
{% endblock %}